@media (max-width:1280px)
{
    body
    {
        padding: 0 40px;
    }
}

@media (max-width:768px)
{
    .Subtitulo.Selecionado
    {
        display: flex;
        flex-direction: column;
    }

    .Eu
    {
        display: none;
    }

    .Eu.Menor
    {
        display: block;
    }

    .Title1
    {
        font-family: var(--fonte1);
        font-size: 70px;
        text-align: center;
        font-weight: lighter;
    }

    .Cabecalho
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Cabecalho.Opcoes
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Cabecalho.SubTitulo
    {
        font-size: 40px;
        text-align: center;
    }

    .Title3
    {
        font-size: 20px;
        background-color: var(--cor3);
        padding: 12px;
        border-radius: 15%;
        border-style: outset;
        color: var(--cor5);
        text-align: center;
    }

    .Title3
    {
        font-size: 20px;
    }

    .Title3.Selecionado
    {
        font-size: 25px;
    }

    .Title4
    {
        text-align: left;
    }

    .Conteúdo
    {
        width: 100%;
    }
}

@media (max-width:425px)
{
    .Geral
    {
        display: flex;
        flex-direction: column;
    }

    .Eu.Menor.Ainda
    {
        display: block;
    }
    .Eu.Menor
    {
        display: none;
    }

    .Title1
    {
        font-size: 40px;
    }

    .Cabecalho.SubTitulo
    {
        font-size: 20px;
    }

    .Cabecalho.Opcoes
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Title3
    {
        font-size: 8px;
    }

    .Title3.Selecionado
    {
        font-size: 9px;
    }

    .Title4
    {
        font-size: 8px;
    }

    .Conteúdo
    {
        font-size: 7px;
        width: 100%;
    }
}